<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gpnu.mapper.FollowMapper">
    <select id="checkIsFollow" resultType="edu.gpnu.entity.Follow">
        select * from follow where student_id = #{studentId} and follower = #{follower}
    </select>
    
    <select id="queryFollowing" resultType="edu.gpnu.entity.User">
        select
        b.*
        from
        `follow` a
        left join `user` b
        on a.student_id = b.student_id
        where a.follower = #{studentId}
    </select>

    <select id="queryFollower" resultType="edu.gpnu.entity.User">
        select
        b.*
        from
        `follow` a
        left join `user` b
        on a.follower = b.student_id
        where a.student_id = #{studentId}
    </select>

    <insert id="insert" parameterType="edu.gpnu.entity.Follow">
        insert into follow(student_id,follower)
        values
        (#{studentId},#{follower})
    </insert>

    <delete id="delete" parameterType="edu.gpnu.entity.Follow">
        delete from `follow` where student_id = #{studentId} and follower = #{follower}
    </delete>

</mapper>