<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gpnu.mapper.UserMapper">
    <select id="getUsersByUserame" resultType="edu.gpnu.entity.User">
        select * from user where username = #{username}
    </select>

    <select id="getUsersByStudentId" resultType="edu.gpnu.entity.User">
        select * from user where student_id = #{studentId}
    </select>

    <insert id="insert" parameterType="edu.gpnu.entity.User">
        insert into
        user(username,password,clase,student_id,gender,school,campus)
        values
        (#{username},#{password},#{clase},#{studentId},#{gender},#{school},#{campus})
    </insert>

    <update id="update" >
        update
        `user`
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="clase != null and clase != ''">
                clase = #{clase},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="school != null and school != ''">
                school = #{school},
            </if>
            <if test="campus != null and campus != ''">
                campus = #{campus},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>
        </set>
        where student_id = #{studentId}
    </update>

</mapper>
