<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.gpnu.mapper.UserMapper">
    <select id="getUsersByUserame" resultType="edu.gpnu.entity.User">
        select * from user where username = #{username}
    </select>

    <select id="getUsersByStudentId" resultType="edu.gpnu.entity.User">
        select * from user where student_id = #{studentId}
    </select>

    <insert id="insert" parameterType="edu.gpnu.entity.User">
        insert into
        user(username,password,clase,student_id,sex,school,campus)
        values
        (#{username},#{password},#{clase},#{studentId},#{sex},#{school},#{campus})
    </insert>

</mapper>
